<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://static.zhipin.com/zhipin-geek/v351/web/geek/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <a href="/jobs/download">
        下载
    </a>
   <!-- <a href="javascript:;" class="btn upload-resume-wrap" ka="nlp_resume_upload_choose">
    文件下载<input type="button" onclick="downloadFile();">
    </a>-->
</div>
<!--
<script>
    function downloadFile() {
    /*    var file=$("#file")[0].files[0];
        var formData=new FormData();
        formData.append("file",file);*/
        $.ajax({
            url:'/jobs/download',
            data:formData,
            type:'post',
            processData:false,
            contentType:false,
            success:function (msg) {
                $('#result').html(msg);
            }
        });
    }
</script>-->
</body>
</html>