<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form>
                <img src="/frontdesk/images/fav.svg" alt="..." class="img-circle mb-lg-3">
                <h1>牛人招聘系统后台登录</h1>
                <div>
                    <input type="text" class="form-control" placeholder="用户名" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="密码" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="/user/index">登录</a>
                    <a class="reset_pass" href="#">忘记密码?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">未注册?
                        <a href="/user/register" class="to_register"> 注册账户 </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i>找工作，上牛人!</h1>
                        <p>©2021 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>