<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form>
                <h1>牛人招聘系统登录</h1>
                <div>
                    <input type="text" class="form-control" placeholder="userName" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="userPwd" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="javascript:void(0);">登录</a>
                    <a class="reset_pass" href="#">忘记密码?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">未注册?
                        <a href="/manager/register" class="to_register"> 注册账户 </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i>!</h1>
                        <p>©2016 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>