<div class="login_wrapper">
    <div id="register" class="animate form">
        <section class="login_content">
            <form>
                <img src="/frontdesk/images/fav.svg" alt="..." class="img-circle mb-lg-3">
                <h1>牛人招聘系统后台注册</h1>
                <div>
                    <input type="text" class="form-control" placeholder="请输入注册名" required="" />
                </div>
                <div>
                    <input type="email" class="form-control" placeholder="电话或邮箱" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="请输入密码" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="/user/index">登录</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">已有账户 ?
                        <a href="/user/login" class="to_register"> 登录 </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> 找工作，上牛人!</h1>
                        <p>©2021 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>